
*
{
margin: 0%;
padding: 0%;
}




.a
{
    width: 1400px;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    margin: auto;
    padding: 10px 0px 10px 0px;
    background-color: black;
   background-size: 2000px;
}



form
{
    padding: 500px;
    width: 500px;
    padding-top: 50px;
    font-size: 25px;
    color: black;
}

button
{
    font-size: 20px;
    margin-left: 50px;
}

input,label,select
{
    
    background-color: white;
    color: black;
  
    
}



legend{

    font-size: larger;
    font-family: sans-serif;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    
   
}

fieldset{
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 10px;
    color: black;
}

.p{
    font-size: smaller;
}

body
 {
    background-image: url("1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
     width: 500px;
     height: 500px;

}

.b
{

    
    color:black;
    background-color: white;
}