
*
{
margin: 0%;
padding: 0%;
}




.a
{
    width: 1400px;
    font-size: x-large;
    text-align: center;
    color: whitesmoke;
    margin: auto;
    padding: 10px 0px 10px 0px;
    background-color: black;
   background-size: 2000px;
}

body
 {
    background-image: url("fcb.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
     width: 500px;
     height: 500px;

}

form
{
    padding: 500px;
    width: 500px;
    padding-top: 50px;
    font-size: 25px;
    color: black;
}

button
{
    font-size: 20px;
    text-align: center;
}

input,label,select
{
    background-color: blanchedalmond;
    color: black;
  
    
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

